@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
  }

*{
  font-family: "Lora", serif, kalpurush;
}
nav a.active {
 @apply bg-base-300 text-base-content
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant dark (&:where([data-theme=black], [data-theme=black] *));